body{
    background-color:red;
}
#h1{
    font-size: 80px;
    color:black;
    font-family:'Nabla', cursive;
}
.input1{
    width:90%
}
.div1{
    background-color: white;
    width:25%;
    padding: 20px;
    margin:25px;
    border-radius: 10px;
}
.btn1{
    width:25%;
    height:50px;
    font-weight: bold;
    font-size: 20px;
}